.contact-form {
    text-align: center;
    padding: 2rem 3rem;
    background-color: #FDEFEA;
}

.contact-form h3 {
    margin-bottom: 1.5rem;
    color: #000000;
    font-size: 2rem;
}

.contact-form form {
    max-width: 600px;
    margin: 0 auto;
}

.form-row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.form-row input {
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.contact-form button {
    padding: 0.5rem 2rem;
    background-color: #A0674C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}