footer {
    display: grid;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem; 
    background-color: #A0674C; 
    color: #ffffff; 
    font-weight: 150;
}

.socials {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.socials span {
    margin-right: 10px;
}

.socials a {
    margin-left: 10px;
    color: #ffffff;
    text-decoration: none;
}

.socials a:hover {
    color: #ffffff; 
}